@model MyBudgetPlanner.Models.MyDailyExpence

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
    ViewBag.activeTabName = "DailyExpence";
}

<div class="content cont">
    <div class="card">
        <div class="card-body">
            <a href="d:\bpst\projects\mybudgetplanner\mybudgetplanner\views\mydailyexpences\details.cshtml"></a>



            <div>
                <h4>MyDailyExpence</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ExpenseTagCommaList)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ExpenseTagCommaList)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsMandatory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsMandatory)
                    </dd>

                </dl>
            </div>
            <div>
                <a asp-action="Create" asp-route-id="@Model?.UniqueId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
