@model IEnumerable<MyBudgetPlanner.Models.MyDailyExpence>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
    ViewBag.activeTabName = "DailyExpence";
}
<link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />


<div class="content cont">
    <div class="card">
        <div class="card-body">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table" id="tbl_DailyExpence">
                <thead>
                    <tr class="text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.ExpenseTagNames)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsMandatory)
                        </th>

                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseTagNames)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.IsMandatory)
                            </td>

                            <td>
                                <a asp-action="Create" asp-route-id="@item.UniqueId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTable -->
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbl_DailyExpence').DataTable({ pageLength: 50 });
        });
    </script>
}