@* @model IEnumerable<MyBudgetPlanner.Models.Income> *@
@model IEnumerable<IGrouping<int, MyBudgetPlanner.Models.Income>>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
    ViewBag.activeTabName = "myicome";
}


<link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />

<link href="~/css/all.css" rel="stylesheet" />

<script src="~/js/all.min.js"></script>


<div class="content">
    <div class="card">
        <div class="card-body">



            <p class="float-end">
                <a asp-action="Create">Create New</a>
            </p>
            <table id="tbl_Income" class=" table hover">
                <thead>
                    <tr class="text-center">
                        <th> Year </th>
                        <th> Month </th>
                        <th> Income Source </th>
                        <th> Income Discription </th>
                        <th> Amount </th>
                        <th> Is PerMonth</th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var year in Model.OrderByDescending(y=>y.Key))
                    {
                        <tr class="alert alert-info">
                            <td colspan="7" class="text-bold">   Year:  @year.Key  </td>
                        </tr>
                        foreach (var item in year)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Year) </td>
                                <td> @((Common.MonthsShortName)item.Month) </td>
                                <td>  @Html.DisplayFor(modelItem => item.IncomeSource) </td>
                                <td> @Html.DisplayFor(modelItem => item.IncomeDiscription) </td>
                                <td> @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:C}", item.Amount)                                 </td>
                                <td> @Html.DisplayFor(modelItem => item.IsPerMonth) </td>
                                <td>
                                    <a asp-action="Create" asp-route-id="@item.UniqueId"><i class="fa-solid fa-pen-to-square text-secondary"></i></a> |
                                    <a asp-action="Details" asp-route-id="@item.UniqueId"><i class="fa-solid fa-circle-info text-success"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.UniqueId"><i class="fa-solid fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        }
                        <tr >
                            <td colspan="3"></td>
                            <td class="text-right">Total  : </td>
                            <td style="text-decoration-color; border-color:red; border-block;"   class="text-bold">  @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:C}", year.Sum(year => year.Amount))</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    <!-- DataTable -->
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbl_Income').DataTable({ pageLength: 50 });
        });
    </script>
}