@model IEnumerable<MyBudgetPlanner.Models.Income>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
    ViewBag.activeTabName = "myicome";
}


<link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />

<link href="~/css/all.css" rel="stylesheet" />

<script src="~/js/all.min.js"></script>


<div class="content">
    <div class="card">
        <div class="card-body">



            <p class="float-end">
                <a asp-action="Create">Create New</a>
            </p>
            <table id="tbl_Income" class=" table hover">
                <thead>
                    <tr class="text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.IncomeSource)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IncomeDiscription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Month)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsPerMonth)
                        </th>

                        <th>

                            Action

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center ">
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeSource)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeDiscription)
                            </td>
                            <td>
                                @string.Format(new System.Globalization.CultureInfo("hi-IN"), "{0:C}", item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Month)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsPerMonth)
                            </td>

                            <td>
                                <a asp-action="Create" asp-route-id="@item.UniqueId"><i class="fa-solid fa-pen-to-square text-secondary"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.UniqueId"><i class="fa-solid fa-circle-info text-success"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.UniqueId"><i class="fa-solid fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot>

                    <tr>
                        <td colspan="6" class="text-bold  text-center ">  Total Amount : &#8377;@Model.Sum(r => r.Amount)</td>

                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    <!-- DataTable -->
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbl_Income').DataTable({ pageLength: 50 });
        });
    </script>
}